<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/a507955c58.js" crossorigin="anonymous"></script>
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="image1.jpeg" rel="icon">
  <!-- <link rel="stylesheet" href="./style1.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
  </head>
  <body>
    
    <div class='particle-network-animation'>
    </div>
    <div class="header">
  
      <nav class="navbar navbar-default" id="start">
        <div class="navbar-header">
          <div id="mobilelogo"><a href="index.html" class="logo"> <img src="{{ url_for('static', filename='image/logo.jpg') }}" alt="Logo" height="80px"
                width="80px"> </a></div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
  
        <div class="collapse navbar-collapse" id="bs-nav-demo">
  
          <div class="navbar navbar-right ">
            <a href="index.html" class="logo"> <img src="{{ url_for('static', filename='image/logo1.png') }}" alt="Logo" height="80px" width="80px">Live-i</a>
            <ul>
              <a class="active" href="index.html"><span>Home</span></a>
              <a href="about.html"><span>About Project</span></a>
              <a href="team.html"><span>Team</span></a>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="background">
  
    <section class="section1">
       <h2>Let's have a Look at the idea of innovation</h2>
       <h4>Problem statement</h4>
       <p>According to the most recent published World Health Organization (WHO) report, it was estimated that nearly 1.25 million people were killed on the 
           roads worldwide, making road traffic injuries a leading cause of death globally. Distracted driving is a serious and growing threat to road safety. 
           Collisions caused by distracted/inattentive driving have captured the attention of the US Government and professional medical organizations during the
            last years. They have estimated that distraction and inattention account for somewhere between 25% and 75% of all or near crashes.</p>
        <h2>Abstract</h2>
        <p>Driver distraction, defined as the diversion of attention away from activities-critical for safe driving, is increasingly recognized as a significant
             source of injuries and fatalities on the roadway. With an aim to minimize accidents due to distraction, we have developed this live-i which would 
             beep anytime the system detected that the driver had crossed the threshold for unsafe driving. Activities such as looking away, using electronics,
              improper grip of steering, drowsiness are detectable using this device. Developed as a software/hardware design that could be retrofitted to any 
              vehicle and uses only camera input to alert drivers at times when they are too distracted.</p>
        <h2></h2>
    </section>
</div>
    <footer>
      <center>
        <p>&copy; Hash 2021. All rights reserved | Made with <i class="fas fa-heartbeat" style="color: red;"></i></p>
      </center>
    </footer>
  <!-- <script type="text/javascript" src="java.js"></script> -->
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="./script.js"></script>


  <!-- process script start  -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg.js'></script>
  <script src="processscript.js"></script>
  <!-- process script end  -->
  </body>
</html>