<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Live-i</title>
  <script src="https://kit.fontawesome.com/a507955c58.js" crossorigin="anonymous"></script>
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="{{ url_for('static', filename='image/logo1.png') }}" rel="icon">
  <!-- <link rel="stylesheet" href="./style1.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>

<body>
  <div class="header">

    <nav class="navbar navbar-default" id="start">
      <div class="navbar-header">
        <div id="mobilelogo"><a href="index.html" class="logo"> <img
              src="{{ url_for('static', filename='image/logo1.png') }}" alt="Logo" height="80px" width="80px"> </a></div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-nav-demo">

        <div class="navbar navbar-right ">
          <a href="index.html" class="logo"> <img src="{{ url_for('static', filename='image/logo1.png') }}" alt="Logo"
              height="80px" width="80px">Live-i</a>
          <ul>
            <a class="active" href="index.html" style=" background-color: white; background-image: linear-gradient(55deg, #ffff, #ffffff);"><span>Home</span></a>
            <a href="about.html"><span>About Live-i</span></a>
            <a href="team.html"><span>Team</span></a>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <section class="section1">
    <div class="container">
      <div class="col-sm-6 second">
        <img src="{{ url_for('static', filename='image/illustrations.png') }}">
      </div>

      <div class="col-sm-6 first">
        <h1>Welcome to Live-i !</h1>
        <p>Driver distraction, defined as the diversion of attention away from activities-critical for safe driving, is increasingly recognized as a 
          significant source of injuries and fatalities on the roadway.<br><br> With an aim to minimize accidents due to distraction, we have developed this 
          live-i which would beep anytime the system detected that the driver had crossed the threshold for unsafe driving. Activities such as looking away,
           using electronics, improper grip of steering, drowsiness are detectable using this device. Developed as a software/hardware design that could be retrofitted to any vehicle and uses only camera input to alert drivers at times when they are too distracted.
        </p>
        <a href="#section2"><button type="menu">Get Started with Demo</button></a>
      </div>


    </div>
  </section>
  <div class="background">
    <section class="section2" id="section2">
      <h2 align="center">Video Streaming Demonstration</h2>
      <img id="bg" class="center" src="{{ url_for('video_feed') }}">
    </section>
  </div>
  <footer>
    <center>
      <p>&copy; Hash 2021. All rights reserved | Made with <i class="fas fa-heartbeat" style="color: red;"></i></p>
    </center>
  </footer>
  <!-- <script type="text/javascript" src="java.js"></script> -->
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <!-- <script src="./script.js"></script> -->


  <!-- process script start  -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg.js'></script>
  <script src="processscript.js"></script>
  <!-- process script end  -->
</body>

</html>